body {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

@font-face {
    font-family: digital;
    src: url(digital-7.ttf);
}


@keyframes clock {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 25%;
    }

    100% {
        opacity: 100%;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    width: 550px;
}

.clock {
    display: block;
    color: yellow;
    font-size: 75px;
    letter-spacing: 7px;
    text-align: center;
    width: 550px;
    height: 100px;
    margin-top: 10px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Digital, 'Comic Sans MS', cursive;
    animation: clock 3s infinite;
}

.date {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    font-family: Digital, 'Comic Sans MS', cursive;
}
