body {
  font-family: 'Azeret Mono', monospace;
  font-size: 20px;
  background-color: grey;
}

.main {
  display: block;
  position: absolute;
  background-color: rgb(247,245,246);
  height: 500px;
  width: 550px;
}
/* ------------Month------------ */
.month {
  position: relative;
  color: rgb(208, 196, 198);
  font-size: 14px;
  top: 30px;
  left: 40px;
  width: 450px;
}

:is(#jan,#feb,#mar,#apr,#may,#jun,#jul,#aug,#sep,#oct,#nov,#dec,):hover{
  color: black;
  font-weight: bold;
  cursor: pointer;
  
}

/* ----------------------------- */
#apr {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

/* ------------Weekdays--------- */
.weekdays {
  position: relative;
  font-size: 22px;
  top: 65px;
  left: 30px;
  width: 450px;
  font-weight: bold;
}
/* ------------Days------------ */
.days {
  position: relative;
  top: 70px;
  left: 40px;
}
/* ------------LinesOfDays------------ */
.fs-l {
  position: absolute;
  top: 50px;
}

.sc-l {
  position: absolute;
  top: 120px;
}

#f8,
#f10,
#f27 {
  color: red;
}

.tr-l {
  position: absolute;
  top: 190px;
}

.fr-l {
  position: absolute;
  top: 260px;
}

.ff-l {
  position: absolute;
  top: 330px;
}

:is(#f01, #f02, #f03, #f04) {
  color: rgb(217, 211, 214);
}


:is(#f1, #f2, #f3, #f4, #f5, #f6, #f7, #f8, #f9, #f10, #f11, #f12, #f13, #f14, #f15, #f16, #f17, #f18, #f19, #f20, #f21, #f22, #f23, #f24, #f25, #f26, #f27, #f27, #f28, #f29, #f30, #f31, #f01, #f02, #f03, #f04):hover {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  background-color: rgb(243, 157, 154);
  color: #fff;
  border-radius: 25%;
  cursor: pointer;
}