table{
    background-color: rgb(168,245,249);
    position: relative;
}

.body{
    margin-left: 150px;
}

/* -------------1-------------- */
.first-n{
    width: 55px;
	height: 35px;
	background: rgb(0,186,0);
    position: relative;
    top: 30px;
    left: 150px;
}
/* -------------2-------------- */
.second-n{
    width: 150px;
	height: 50px;
	background: rgb(0,105,0);
    position: relative;
    top: 30px;
    left: 90px;
}
/* -------------3-------------- */
.third-n{
    width: 300px;
	height: 50px;
	background: rgb(0,105,0);
    position: relative;
    top: 30px;
    left: 15px;
}

.third-n::before{
    content: '';
    width: 24px;
	height: 24px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 5px;
    left: 135px;
}
/* -------------4-------------- */
.fourth-n{
    width: 400px;
	height: 60px;
	background: rgb(0,105,0);
    position: relative;
    top: 30px;
    right: 35px;
}

.fourth-n::before{
    content: '';
    width: 24px;
	height: 24px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 15px;
    left: 90px;
}

.fourth-n::after{
    content: '';
    width: 24px;
	height: 24px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 13px;
    left: 240px;
}
/* -------------5-------------- */
.fifth-n{
    width: 450px;
	height: 65px;
	background: rgb(0,95,0);
    position: relative;
    top: 30px;
    right: 60px;
}

.fifth-n::before{
    content: '';
    width: 24px;
	height: 24px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 13px;
    left: 125px;
}

.fifth-n::after{
    content: '';
    width: 30px;
	height: 30px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 13px;
    left: 325px;
}
/* -------------6-------------- */
.sixth-n{
    width: 500px;
	height: 70px;
	background: rgb(0,85,0);
    position: relative;
    top: 30px;
    right: 80px;
}

.sixth-n::before{
    content: '';
    width: 30px;
	height: 30px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 13px;
    left: 75px;
}

.sixth-n::after{
    content: '';
    width: 30px;
	height: 30px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 20px;
    left: 120px;
}
/* -------------7-------------- */
.seventh-n{
    width: 550px;
	height: 70px;
	background: rgb(0,57,1);
    position: relative;
    top: 30px;
    right: 100px;
}

.seventh-n::before{
    content: '';
    width: 24px;
	height: 24px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 25px;
    left: 75px;
}

.seventh-n::after{
    content: '';
    width: 40px;
	height: 40px;
	background: rgb(152,109,73);
    position: absolute;
	border-radius: 50px;
    top: 15px;
    left: 350px;
}
/* -------------8-------------- */
.eighth-n   {
    width: 90px;
	height: 45px;
	background: rgb(44,31,35);
    position: relative;
    top: 30px;
    left: 135px;
}   