.body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    height: 100px;
    width: 900px;
    background-color: rgb(253,233,217);
}

.main{
    display: flex;
    flex-direction: row;
}

.l-side{
    display: flex;
    height: 150px;
    width: 200px;
    background-color: rgb(183,222,232);
}

.div-m{
    display: flex;
    flex-direction: column;
}

.one-four{
    display: flex;
    background-color: rgb(250,191,143);
    flex-direction: row;
    width: 500px;
    height: 100px;
}

.three{
    display: flex;
    flex-direction: row;
    background-color: rgb(218,238,243);
    width: 100px;
    height: 50px;
    justify-content: flex-end;
}

.one{
    display: flex;
    width: 250px;
    height: 150px;
    background-color: rgb(220,230,241);
}

.two-four{
    display: flex;
    flex-direction: column;
}

.tf{
    display: flex;
    flex-direction: row;
}

.three-four{
    display: flex;
    width: 150px;
    height: 50px;
    background-color: rgb(235,241,222);
}


.five{
    display: flex;
    background-color: rgb(191,191,191);
    align-self: flex-end;
    width: 500px;
    height: 50px;
}


.r-side{
    display: flex;
    height: 150px;
    width: 200px;
    background-color: rgb(183,222,232);
}

.footer{
    display: flex;
    height: 100px;
    width: 900px;
    background-color: rgb(253,233,217);
}