@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: 'Aboreto', cursive;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.calc-screen{
    display: grid;
    height: 125px;
    padding: 10px;
    justify-items: end;
    align-items: end;
}

.calc-screen p{
    text-align: right;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 25px;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
}

.btn{
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
}

.btn.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 30px;
}

.btn:hover{
    filter: brightness(125%);
}

.btn:active{
    filter: brightness(90%);
}

.btn.bg-grey{
    background: #a6a6a6;
}

.btn.bg-orange{
    background: #ff9501;
}